body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    height: 80px;
    background-color: #52503B;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .header-cont {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .navigation {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .function-block {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .firstFun button {
            width: 117px;
            height: 42px;
        }

        .topicButton {
            height: 42px;
            width: 42px;
            background-image: url(../img/sun.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            background-color: transparent;
        }
        .topicButton.topicButtonDark{
            background-image: url(../img/moon.svg);
        }
    }

    .logo {
        width: 30%;
        display: flex;
        align-items: center;
    }

    .links {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .links a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none;
    }

    .links a:hover {
        color: grey;
    }
}

.header-main {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 178px;

    .header-main-info {
        padding-top: 200px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 53px;
        text-align: center;
        color: #FFFFFF;
    }

    .header-main-info p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000000;

        opacity: 0.7;
    }

    .mouse {
        padding-top: 117px;
    }

    .box {
        padding-top: 95px;
    }
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}

.header-info {
    margin-top: 33px;

    .header-info-cont {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .rightBlock {
        width: 360px;
        height: 180px;
    }

    .leftBlock {
        width: 360px;
        height: 180px;
    }

    .leftBlock p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }

    .rightBlock p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }

    .rightBlock button {
        margin-top: 41px;
        width: 107px;
        height: 42px;
        background: #52503B;
        border-radius: 6px;
        border: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .rightBlock button:hover {
        cursor: pointer;
    }

    .line2 {
        padding-top: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
}

.headText {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #52503B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-block {
    height: 660px;
    background-image: url(../img/background2.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.line3 {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}


.main-info-cont {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .headTextMain1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: #52503B;
    }

    .headTextMain2 {
        width: 55%;
        margin: 0 auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #52503B;
    }

    .low-block-main {
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 100px;
        row-gap: 100px;
        justify-content: space-around;

        .card {
            width: 346px;
            display: flex;
            flex-direction: column;

            .logoCard {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .logoCard p {
                padding-top: 12px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #52503B;
            }

            .cardInfo {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: #52503B;
            }
        }
    }
}

.main-rating {
    margin-top: 200px;

    .main-rating-cont {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .headTextRating {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        color: #52503B;
    }

    .headTextRatingInfo {
        width: 400px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #52503B;
    }

    .headCardsRating {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;

        .leftCardRating {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .rightCardRating {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .cardRating {
            width: 510px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .cardTextRating {
                text-align: center;

                .cardTextRating1 {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #52503B;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }

                .cardTextRating2 {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #52503B;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
            }
        }
    }
}

.main-feedback {
    padding-top: 209px;
    width: 80%;
    margin: 0 auto;

    .feedback-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .headFeedbackText {
            padding-top: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 36px;
            text-align: center;
            color: #52503B;
        }

        .headFeedbackTextInfo {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            color: #52503B;
        }

    }

    .feedback-cards {
        margin-top: 63px;
        display: flex;
        justify-content: space-between;
    }

    .FeedbackCard {
        width: 45%;

        .user {
            display: flex;
            align-items: center;

            .userName {
                padding-left: 10px;
            }
        }
    }
}

.main-block1 {
    margin-top: 120px;
    height: 660px;
    background-image: url(../img/background3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-service {
    margin-top: 70px;

    .service-cont {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .leftService {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: baseline;
        }

        .rightService {
            display: flex;
            justify-content: space-between;
            width: 60%;

            .serviceCardLeft {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            .serviceCardRight {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }

    .serviceCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.main-contact {
    padding-top: 231px;
}

.main-contact-cont {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contactHeadText {
        padding-top: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: #52503B;

        .contact-buttons {
            width: 80%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}

.contBut1 {
    width: 116px;
    height: 52px;
    border: 4px solid #52503B;
    border-radius: 6px;
    padding-right: 10px;
}

.contBut2 {
    padding-left: 10px;
    width: 116px;
    height: 52px;
    background: #52503B;
    border: none;
    border-radius: 4px;
}

footer {
    margin-top: 100px;
    height: 608px;
    background: #52503B;

    .footer-cont {
        padding: 100px;
        
        .top-foot {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .links-foot {
                width: 25%;
                height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .footLinkUP {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #a0a0a0;
                    text-decoration: none;
                }

                .footLink {
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #a0a0a0;
                    text-decoration: none;
                }
            }

            .contact-foot {
                width: 20%;
                position: relative;
                bottom: 12px;
                height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                .contactFoodP {
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #a0a0a0;
                }

                .socLinks {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 135px
                }
            }
        }
        
        .newUser {
            width: 40%;
            position: relative;
            bottom: 12px;
            height: 160px;

            .userText1 {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #a0a0a0;
            }

            .userText2 {
                position: relative;
                bottom: 15px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #a0a0a0;
            }

            .inputUser {
                width: 426px;
                height: 52px;
                border: 1px solid #E5E7EB;
                border-radius: 8px;
            }
            .submit{
                border-radius: 8px;
                background: #52503B;
                width: 52px;
                height: 20px;
                position: relative;
                left: 370px;
                bottom: 38px;
                color: white;
                text-align: center;
                border: none;
            }
            .inputUser::placeholder{
                padding-left: 25px;
            }
        }
    }
}

.footSoc1 {
    width: 32px;
    height: 32px;
    background-image: url(../img/inst.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.footSoc2 {
    width: 32px;
    height: 32px;
    background-image: url(../img/facebook.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.footSoc3 {
    width: 32px;
    height: 32px;
    background-image: url(../img/soc.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
.low-foot{
    position: relative;
    top: 90px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .lowFootText1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #a0a0a0;
    }
    .lowFootText2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #a0a0a0;
    }
}
.dark .header-container{
    background-color: #000000;
}
.dark footer{
    background-color: #000000;
}
.dark .container{
    background-color: rgb(37, 37, 37);
}
.dark .main-rating{
    background-color: rgb(37, 37, 37);
}
.dark button{
    background-color: #3d3d3d;
    border: none;
}
.dark .socLinks button{
    background-color: #000000;
}
.dark .header-main-info h1{
    color: white;
}
.dark .headText{
    color: white;
}
.dark .leftBlock p{
    color: #52503B;
}
.dark .rightBlock p{
    color: #52503B;
}
.dark .FeedbackCard p {
    color: #52503B;
}
.dark .serviceCard{
    color: #52503B;
}
.dark .leftService{
    color: #52503B;
}
.darkMain{
    background-color: rgb(37, 37, 37);
}